@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">



    $(document).ready(function () {
        dinamic = ''
        $.get('http://localhost:60396/Service1.svc/Rest/ListarRoles', function (data) {
            dinamic += '<select class="form-control" id="rol" name="rol">'
            for (var i = 0; i < data.length; i++) {
                dinamic += '<option value="' + data[i].nombre + '">' + data[i].nombre + '</option>'
            }
            dinamic += '</select>'
            $('#Lista1').html(dinamic);
        });
        dinamic2 = ''
        $.get('http://localhost:60396/Service1.svc/Rest/ListarPermisos', function (data) {
            dinamic2 += '<select class="form-control" id="permiso" name="permiso">'
            for (var i = 0; i < data.length; i++) {
                dinamic2 += '<option value="' + data[i].nombre + '">' + data[i].nombre + '</option>'
            }
            dinamic2 += '</select>'
            $('#Lista2').html(dinamic2);
        });        
    });

$(function(){
    $("#Enviar").click(function () {
        var dinamic = '';
        $.get('http://localhost:60396/Service1.svc/Rest/ListarUsuariosPorPermiso/' + $("#permiso").val(), function (data) {
            debugger
            dinamic += '<ul class="list-group">'
            for (var i = 0; i < data.length; i++) {
                dinamic += '<li class="list-group-item">' + data[i].nombre + '</li>'
            }
            dinamic += '</ul>'
            $('#Resultado2').html(dinamic);
        });
    });

    $("#Enviar2").click(function () {
        var dinamic = '';
        $.get('http://localhost:60396/Service1.svc/Rest/ListarUsuariosPorRol/' + $("#rol").val(), function (data) {
            debugger
            dinamic += '<ul class="list-group">'
            for (var i = 0; i < data.length; i++) {
                dinamic += '<li class="list-group-item">' + data[i].nombre + '</li>'
            }
            dinamic += '</ul>'
            $('#Resultado1').html(dinamic);
        });
    });

});
</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <label for="rol" class="col-lg-2 control-label">Filtrar por Rol</label>
            <div class="col-lg-10">
                <div id="Lista1">
                </div>
            </div>
            <button type="button" id="Enviar2">Enviar</button>
        </div>
        Resultado:
        <div id="Resultado1"></div>
        <br />
        <div class="input-group">
            <label for="permiso" class="col-lg-2 control-label">Filtrar por Permiso</label>
            <div class="col-lg-10">
                    <div id="Lista2">
                    </div>
            </div>
            <button type="button" id="Enviar">Enviar</button>
        </div>
        Resultado:
        <div id ="Resultado2"></div>
    </div>

</div>